// 默认主题色
$themes-color: #1890FF;

// 默认按钮颜色(不因主题色的改变而改变)
$btn-update-color: #71E2A3;  // 修改
$btn-delete-color: #FF929E;  // 删除
$btn-import-color: #969A9E;  // 导入
$btn-export-color: #FFBA00;  // 导出

:export {
  btnUpdateColor: $btn-update-color;
  btnDeleteColor: $btn-delete-color;
  btnImportColor: $btn-import-color;
  btnExportColor: $btn-export-color;
}

