<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.autoMotiveMes.mapper.system.SysUserMapper">

    <select id="selectUserPermissionsByUsername" resultType="java.lang.String">
        SELECT sp.perm_code
        FROM sys_user su
                 LEFT JOIN sys_user_role sur ON su.user_id = sur.user_id
                 LEFT JOIN sys_role_permission srp ON sur.role_id = srp.role_id
                 LEFT JOIN sys_permission sp ON srp.perm_id = sp.perm_id
        WHERE su.username = #{username}
    </select>

    <select id="selectUserRolesByUsername" resultType="java.lang.String">
        SELECT r.role_code
        FROM sys_user_role ur
                 JOIN sys_role r ON ur.role_id = r.role_id
        WHERE ur.user_id = (SELECT user_id FROM sys_user WHERE username = #{username})
    </select>

    <select id="selectByUsername" resultType="com.autoMotiveMes.entity.system.SysUser">
        SELECT * FROM sys_user WHERE username = #{username}
    </select>

    <select id="selectByEmail" resultType="com.autoMotiveMes.entity.system.SysUser">
        SELECT * FROM sys_user WHERE email = #{email}
    </select>

    <select id="selectByPhone" resultType="com.autoMotiveMes.entity.system.SysUser">
        SELECT * FROM sys_user WHERE phone = #{phone}
    </select>

    <select id="getUserInfoByUsername" resultType="com.autoMotiveMes.dto.auth.UserInfoResponseDto">
        SELECT
            u.user_id,
            u.username,
            u.real_name,
            r.role_name,
            u.sex,
            u.theme_color,
            d.dept_name,
            p.post_name,
            u.head_img,
            u.email,
            u.phone,
            u.create_time
        FROM sys_user u
                 JOIN sys_user_role ur ON u.user_id = ur.user_id
                 JOIN sys_role r ON ur.role_id = r.role_id
                 JOIN sys_dept d ON u.dept_id = d.dept_id
                 JOIN sys_post p ON u.post_id = p.post_id
        WHERE u.username = #{username}
    </select>

    <select id="selectUserList" resultType="com.autoMotiveMes.entity.system.SysUser">
        SELECT
        u.user_id,
        u.username,
        u.real_name,
        d.dept_name,
        u.phone,
        u.status,
        u.create_time
        FROM sys_user u
        LEFT JOIN sys_dept d ON u.dept_id = d.dept_id
        <where>
            <if test="query.deptName != null and query.deptName != ''">
                AND u.dept_id IN (
                    SELECT dept_id FROM (
                        WITH RECURSIVE dept_cte AS (
                            SELECT dept_id, dept_name
                            FROM sys_dept
                            WHERE dept_name = #{query.deptName}
                            UNION ALL
                            SELECT d.dept_id, d.dept_name
                            FROM sys_dept d
                            INNER JOIN dept_cte c ON d.parent_id = c.dept_id
                        )
                        SELECT dept_id FROM dept_cte
                    ) temp
                )
            </if>
            <if test="query.username != null and query.username != ''">
                AND u.username LIKE CONCAT('%', #{query.username}, '%')
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND u.phone LIKE CONCAT('%', #{query.phone}, '%')
            </if>
            <if test="query.status != null">
                AND u.status = #{query.status}
            </if>
            <if test="query.startTime != null and query.endTime != null and query.startTime != '' and query.endTime != ''">
                AND u.create_time BETWEEN #{query.startTime} AND #{query.endTime}
            </if>
        </where>
        ORDER BY u.create_time DESC
    </select>

</mapper>