<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.autoMotiveMes.mapper.equipment.EquipmentParametersMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO equipment_parameters
        (equipment_id, param_name, param_value, unit, collect_time, is_normal)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.equipmentId},
            #{item.paramName},
            #{item.paramValue},
            #{item.unit},
            #{item.collectTime},
            #{item.isNormal}
            )
        </foreach>
    </insert>
</mapper>